/* Define color variables */
:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray: #737373;
  --color-blue: #007bff;

  --font-roboto: "Roboto", sans-serif;
  --font-ibm-plex-mono: "IBM Plex Mono", monospace;

  --background: var(--color-black);
  --foreground: var(--color-white);
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-black);
    --foreground: var(--color-white);
  }
}

/* Global styles */
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Headings use IBM Plex Mono */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-ibm-plex-mono);
}

/* Default Box Sizing */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Links */
a {
  color: inherit;
  text-decoration: none;
}

/* Buttons */
button {
  font-family: var(--font-ibm-plex-mono);
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 6px;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}